.container {
    height:100%;
    overflow: auto;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.list { 
    display: inline-block; 
    vertical-align: top;
    margin-left: 1em;
    margin-top: 1em;
    padding: 0.5em;
    background-color: #ccc;
    border-radius: 4px;
    border: 1px solid #333;
    color: #333;
    
    box-shadow: 5px 10px;
    white-space: normal; //undo nowrap from container
    
    .header {
        font-weight: bold;
        background-color: #00a087;
        padding: 0.25em;
    }
}


.card {
    width: 200px;
    padding: 0.5em;

    //border-radius: 3px;
    //border: 1px solid #333;
    background-color: #eee;

    margin-top: 0.5em;

    
    .title {
    }
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0,0,0.2,1);
}

.list.cdk-drop-list-dragging .card:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0,0,0.2,1);
}