<div class="container" cdkDropListGroup>
<div class="list"
*ngFor="let list of lists; let i = index"
(cdkDropListDropped)="dropped($event,i)"
[cdkDropListData]="lists[i]"
cdkDropList>
  <div class="header">
    {{list.name}}
    <mat-select class="selector" [(value)]="list.onTransition">
      <mat-option *ngFor="let func of transitionFunctions" [value]="func">
        {{func.name}}
      </mat-option>
    </mat-select>
  </div>
  <div class="card"
    *ngFor="let card of list.tickets"
    cdkDrag>
        <div class="title">{{card.artifactId}}</div>
        <div>{{card.title}}</div>
        <div>E:{{card.est}} R:{{card.rem}} A:{{card.act}}</div>
    </div>
  </div>
</div>