

<div>
    <mat-form-field>
        <input matInput [matDatepicker]="minPicker" 
          class="date-selector date-input"
          placeholder="Minimum Date" 
          [(ngModel)]="minDate"
          (ngModelChange)="updatePrefs()">
        <mat-datepicker-toggle matSuffix [for]="minPicker"></mat-datepicker-toggle>
        <mat-datepicker #minPicker></mat-datepicker>
    </mat-form-field>
      
    <mat-form-field>
      <input matInput [matDatepicker]="maxPicker" 
        class="date-selector date-input"
        placeholder="Maximum Date" 
        [(ngModel)]="maxDate"
        (ngModelChange)="updatePrefs()">
      <mat-datepicker-toggle matSuffix [for]="maxPicker"></mat-datepicker-toggle>
      <mat-datepicker #maxPicker></mat-datepicker>
    </mat-form-field>

    <button (click)="autosize(projects)" mat-raised-button color="accent">Autorange</button>
  </div>

<div class="container">
  <div style="height: 0;">
    <div class="label">&nbsp;</div>
    <div #graphBlock class="graph" style="width: 100%;">&nbsp;</div>
  </div>

  <div class="today" [style.left]="marginLeftToday()">&nbsp;</div>

  <div *ngFor="let project of projects" class="project">
    <div class="label">{{project.name}}</div>
    <div class="graph"
      [style.width]="graphWidth + 'px'">
      <div *ngFor="let phase of project.phases" 
        class="phase"
        [style.width]="width(phase)"
        [style.margin-left]="marginLeft(phase)">{{phase.name}}&nbsp;</div>
    </div>
  </div>
</div>