.header{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  padding: 5px;
  border-radius: 10px;
}

.header button,
.header div {
  margin-right: 8px;
  margin-left: 8px;
}

.header div {
    font-size: x-large;
    font-weight: bold;
}

.title {
    font-size: large;
}

.days {
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-weight: bold;
}

.date {
    text-align: center;
}

.phase-table {
    width: 100%;
}

.active-phase {
    background: #664;
    height:28px;
}

.inactive-phase {
    background: inherit;
    height:28px;
}

.date-selector {
    border: none;
    text-align: center;
}

.card {
    margin: 1em;
}

.weekday-tag {
    width: 7em;
    text-align: right;
    display: inline-block;
}
.date-input {
    width: 5em;
    vertical-align: middle;
    text-align: left;
}

.footer > * {
    margin-right: 0.5em;
}
/*

::ng-deep .mat-icon{
    height:20px !important;
    width:20px !important;
    font-size:20px !important;
}

::ng-deep .mat-mini-fab{
    height:30px !important;
    width:30px !important;
    line-height: 30px !important;
}

::ng-deep .mat-button-wrapper {
    padding: 0 !important;
}*/