<mat-card>
  <div class="header">
    <div class="title">{{project.name}}</div>
    <div>{{project.branch}}</div>
    <div>{{project.project}}</div>
    <div>{{project.release}}</div>
    <div>[{{project.gc}}]</div>
  </div>
  <table class="phase-table">
    <tr>
      <th>Phase</th>
      <th>Start</th>
      <th>Days</th>
      <th>End</th>
      <th>Days</th>
    </tr>
    <tr *ngFor="let phase of project.phases" class="phase-row">
      <td [class.active-phase]="within()">{{phase.name}}</td>
      <td class="date">{{phase.range?.start | date}}</td>
      <td class="days">{{until(phase.range?.start) | number:'1.0-0'}}</td>
      <td class="date">{{phase.range?.end | date}}</td>
      <td class="days">{{until(phase.range?.end) | number:'1.0-0'}}</td>
    </tr>
  </table>
</mat-card>