.header{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  padding: 5px;
  border-radius: 10px;
  background-color: #EEE;
}

.header button,
.header div {
  margin-right: 8px;
  margin-left: 8px;
}

.header div {
    font-size: x-large;
    font-weight: bold;
}

.title {
    font-size: large;
}

.days {
    text-align: center;
}

.date {
    text-align: center;
}

.phase-table {
    width: 100%;
}

.active-phase {
    background: #FFC;
}

.active-phase * {
    background: #FFC;
}

.inactive-phase {
    background: inherit;
}

.inactive-phase * {
    background: inherit;
}

.date-selector {
    border: none;
    text-align: center;
}

.card {
    margin: 1em;
    background-color: #F8F8F8;
}