<nav class="fixed-nav-bar">
    <button mat-button 
        routerLink="/projects" routerLinkActive="active">
        <img src="assets/reticle_logo_small.png" alt="Reticle Logo">
    </button>

    <button mat-raised-button 
        routerLink="/projects" routerLinkActive="active">Project List</button>
    <button mat-raised-button 
        routerLink="/chart" routerLinkActive="active">Gantt Chart</button>
    <button mat-raised-button 
        routerLink="/checklist" routerLinkActive="active">Releases</button>
    <button mat-raised-button 
        routerLink="/kanban" routerLinkActive="active">Kanban</button>
</nav>